<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Portfólio de Matheus Vinicius, desenvolvedor web Full Stack" />
    <meta name="author" content="Matheus Vinicius" />
    <meta property="og:description" content="Portfólio de Matheus Vinicius, desenvolvedor web Full Stack" />
    <meta property="og:image" content="/assets/images/profile.png" />
    <meta property="og:type" content="website" />
    <meta name="keywords" content="developer, programação, desenvolvedor, programador, html, css, javascript, c#, .net, Sql, Mysql, github, fullstack" />
    <meta name="robots" content="index, follow" />

    <title>@ViewData["Title"] - @_appSettings.AppName</title>
    <link rel="stylesheet" href="~/css/Skins/@(_appSettings.Skin).css">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" />
    <link rel="icon" type="image/png" href="/assets/icons/favicon.png" class="nav-links" />
</head>

<body>

    <main role="main">
        @RenderBody()
    </main>
    <form method="post" asp-controller="Home" asp-action="AlterTheme">
        <select name="selectedTheme" onchange="this.form.submit()">
            @foreach(string skin in _appSettings.AvailableSkins){
                if(skin == _appSettings.Skin){
                    <option value="@skin" selected>@skin</option>
                }
                else{
                    <option value="@skin">@skin</option>
                }
            }
        </select>
    </form>
    <footer class="footer">
        <p>&copy; 2025 Matheus Vinicius. Todos os direitos reservados.</p>
        <ol class="social-links">
            <li><a href="https://github.com/Matheusslima08" target="_blank"><i class="fab fa-github"></i></a></li>
            <li><a href="https://www.linkedin.com/in/matheus-vinicius-4b725a1a3/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
        </ol>
    </footer>


    <script src="~/js/site.js"></script>
    <script src="~/lib/font-awesome/js/all.js"></script>
</body>
</html>
